<form action="/hello/" method="POST">
    Server Name: <input type="text" name="hostname">
    <br/>
    Mac Address: <input type="text" name="macaddr">
    <br/>
    Operating System: <select name="os">
			<option value="rhel6">Redhat 6 x86_64</option>
			<option value="rhel7">Redhat 7 x86_64</option>
			<option value="centos6">CentOS 6 x86_64</option>
			<option value="centos7">CentOS 7 x86_64</option>
		      </select>
    <input type="submit">
</form>
