<html>
<head>
    <title>Gothons From Planet Percal #25</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

</head>
<body>
<div id="header">
<h1> Build Linux Server </h1>
</div>

<div id="container">
<%= yield %>
</div>


</body>
</html>
