body {
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	background-color: #F8F9F9;
}

p {
	font-size: 14px;
	padding: 10px;

}

input {
	
}

select {

}

#container {
	width: 95%;
	padding: 10px;
}

#header {
	background-color: #ABB2B9;
}

h1 {
	text-align: center;
}

form {
	width: 60%;
	margin: auto;
	padding: 20px;
}
